
.jumbotron {
    min-height: 400px;
    margin-bottom: 0px;
    background-image: url('https://c1.staticflickr.com/9/8345/8156204078_2792f53d35_b.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
